_build
.metadata
.metadata/*
build
.project
.classpath
.settings
.gradle
*.sw*
C\:
.DS_Store
TestFile.xml
lcfgResult
bin
healthcheck.*
buildnumber.*
f5.jsp
assembledArtifacts
localArtifacts
classes
MANIFEST.MF
~
